.secret-wirte-form{
    // margin-top:210px;
    box-sizing: border-box;
    padding:0 10px 80px;
    // .bg-list{
    //     display: flex;
    //     justify-content: space-between;
    // }
    .audio-wrap{
        display: flex;
        justify-content: space-between;
    }
    .label{
        font-size:18px;
        color:#000;
    }
    .am-list-header{
        padding:15px 0 5px 0;
    }
    .no-bg{
        .am-list-body{
            background:none;
            &::before,&::after{
                content:'';
                display: none!important;
            }
        }
        .am-image-picker-list{
            padding-left:0;
        }
    }
    .code-wrap{
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }
}

.secret-check-wrap{
    .result{
        margin-top:210px;
        padding:0 40px 80px;
        .item{
            display: flex;
            margin-bottom:20px;
        }
        .label{
            font-size:14px;
            width:150px;
        }
        .content{
            width:200px;
            // padding-right: 80px;
            &.light{
                color:#108ee9;
                font-size:16px;
            }
            img{
                width:80px;
                height: 80px;
            }
        }
        .url-btn{
            position: absolute;
            bottom:30px;
            left:50%;
            transform: translateX(-50%);
            color:#108ee9
        }
    }
}

.secret-check-form-wrap{
    padding:0 15px;
    margin-top:250px;
    .tip{
        p{
            line-height: 20px;
            margin-bottom:10px;
        }
    }
}
.secret-check-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    .am-list-item{
        height:40px!important;
        min-height: auto;
    }
    .search-btn{
        margin-left:10px;
        height: 32px;
        line-height: 32px;
        display: block;
        font-size:12px;
        padding:0;
        width:60px;
    }
}