@import './reset';

#root{
    height:100%;   
}

.fixed-bottom{
    background:#d2b78c;
    position: fixed;
    bottom:0;
    width:100%;
    
}

.flex-wrap{
    display: flex;
    align-items: center;
}